/* Стиль заголовка страницы */
.page-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Стиль контейнера с рецептами */
.recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Стиль карточки рецепта */
.recipe-card {
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 350px;
    overflow: hidden;
}

/* Стиль изображения рецепта */
.recipe-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Стиль названия рецепта */
.recipe-title {
    font-size: 1.2rem;
    margin: 1rem;
    text-align: center;
}

/* Стиль описания рецепта */
.recipe-description {
    margin: 1rem;
    text-align: justify;
    font-size: 0.9rem;
    height: 80px;
    overflow: hidden;
}

/* Стиль кнопки "Подробнее" */
.recipe-button {
    margin: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.recipe-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}
