/* Настройки кроссбраузерности */

/* Нормализация стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Запрет на изменение размера некоторых элементов при наведении */
a,
button,
input[type="button"],
input[type="submit"] {
  resize: none;
}

/* Настройка адаптивности */

/* Общие стили */
body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  font-family: 'Josefin Slab', serif;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='900' preserveAspectRatio='none' viewBox='0 0 1440 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1084%26quot%3b)' fill='none'%3e%3crect width='1440' height='900' x='0' y='0' fill='rgba(187%2c 188%2c 191%2c 1)'%3e%3c/rect%3e%3cpath d='M1464 900L0 900 L0 224.24Q36.43 188.67%2c 72 225.09Q100.72 181.81%2c 144 210.54Q169.28 163.81%2c 216 189.09Q272.69 173.78%2c 288 230.46Q361 183.45%2c 408 256.45Q476.29 204.74%2c 528 273.02Q587.04 260.06%2c 600 319.1Q641.75 288.86%2c 672 330.61Q743.51 330.13%2c 744 401.64Q817.41 355.05%2c 864 428.46Q869.39 361.85%2c 936 367.24Q943.02 302.26%2c 1008 309.28Q1019.58 200.86%2c 1128 212.43Q1182.03 146.45%2c 1248 200.48Q1316.05 196.52%2c 1320 264.57Q1426.84 299.4%2c 1392 406.24Q1340.8 283.04%2c 1464 231.83z' fill='rgba(141%2c 222%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1488 900L0 900 L0 399.85Q70.2 350.05%2c 120 420.25Q211.26 391.51%2c 240 482.77Q306.76 477.53%2c 312 544.29Q387.56 499.85%2c 432 575.41Q466.99 490.4%2c 552 525.39Q568.59 469.98%2c 624 486.57Q645.82 436.39%2c 696 458.21Q785.88 428.09%2c 816 517.97Q897.21 479.18%2c 936 560.39Q947.28 451.67%2c 1056 462.96Q1071.26 406.22%2c 1128 421.48Q1157.68 331.17%2c 1248 360.85Q1316.47 309.33%2c 1368 377.8Q1495.5 385.3%2c 1488 512.8z' fill='rgba(207%2c 243%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1464 900L0 900 L0 567.79Q125.97 573.76%2c 120 699.73Q193.05 652.78%2c 240 725.82Q308.94 674.76%2c 360 743.7Q369.75 681.45%2c 432 691.19Q449.54 636.74%2c 504 654.28Q570.41 600.69%2c 624 667.11Q686.22 657.33%2c 696 719.55Q722.36 625.9%2c 816 652.26Q831.68 595.94%2c 888 611.63Q918.87 570.5%2c 960 601.36Q1069.34 590.69%2c 1080 700.03Q1142.45 690.48%2c 1152 752.93Q1192.86 673.78%2c 1272 714.64Q1247.43 618.07%2c 1344 593.5Q1382.98 512.48%2c 1464 551.46z' fill='rgba(216%2c 233%2c 255%2c 1)'%3e%3c/path%3e%3cpath d='M1512 900L0 900 L0 784.11Q146.37 810.48%2c 120 956.85Q83.22 800.07%2c 240 763.28Q291.03 694.31%2c 360 745.33Q410.71 724.04%2c 432 774.74Q517.9 788.64%2c 504 874.54Q561.06 859.6%2c 576 916.65Q625.22 893.87%2c 648 943.08Q663.33 886.41%2c 720 901.75Q680.13 789.88%2c 792 750Q925.05 811.05%2c 864 944.1Q844.48 852.58%2c 936 833.06Q952.2 777.26%2c 1008 793.46Q1078.3 743.76%2c 1128 814.06Q1200.84 766.89%2c 1248 839.73Q1282.84 754.57%2c 1368 789.4Q1414.98 764.38%2c 1440 811.37Q1494.88 794.25%2c 1512 849.13z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1084'%3e%3crect width='1440' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  animation: animateBackground 30s ease infinite;
}

@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 10% 0;
  }
  20% {
    background-position: 20% 0;
  }
  30% {
    background-position: 30% 0;
  }
  40% {
    background-position: 40% 0;
  }
  50% {
    background-position: 50% 0;
  }
  60% {
    background-position: 60% 0;
  }
  70% {
    background-position: 70% 0;
  }
  80% {
    background-position: 80% 0;
  }
  90% {
    background-position: 90% 0;
  }
  100% {
    background-position: 100% 0;
  }
}


p {
  text-align: center;
  font-weight: 1000;

}
h1 {
  letter-spacing: 6px;
  font-family: 'Josefin Slab', serif;
  text-align: center;
}
li:hover, p:hover, h2:hover, h3:hover, h1:hover{
  text-decoration: underline;
}

h2,h3 {
  text-align: center;
}

.container {
  max-width: 1200px; /* задаем максимальную ширину для контейнера */
  margin: 0 auto; /* задаем отступы по вертикали 0, по горизонтали - автоматически вычисляемые */
}

/* Ширина контейнера на больших экранах */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

/* Ширина контейнера на средних экранах */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

/* Ширина контейнера на маленьких экранах */
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* Стили для шапки */
header {
  background-image: radial-gradient(circle at 2.77% 72.03%, #dae5d2 0, #d7e5d4 3.57%, #d5e6d6 7.14%, #d2e6d8 10.71%, #d0e7db 14.29%, #cde7dd 17.86%, #cce7e0 21.43%, #cae7e3 25%, #c9e7e5 28.57%, #c9e7e8 32.14%, #c9e7ea 35.71%, #c9e7ed 39.29%, #cae6ef 42.86%, #cbe6f0 46.43%, #cde5f2 50%, #cfe4f3 53.57%, #d2e4f4 57.14%, #d4e3f5 60.71%, #d7e2f5 64.29%, #dae1f5 67.86%, #dee0f4 71.43%, #e1dff3 75%, #e4def2 78.57%, #e7def1 82.14%, #eaddef 85.71%, #eddced 89.29%, #efdcea 92.86%, #f2dbe8 96.43%, #f3dbe5 100%);
  color: black;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

a:hover {
  color: #4CAF50;
  text-decoration: underline;
  transition-duration: 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.social-icon:hover {
  transform: scale(1.2);
  color: #4CAF50;
  transition-duration: 0.3s;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: #555;
  text-align: center;
  padding: 20px;
  z-index: 999;
}

/* Show the button when the user scrolls down 20px from the top of the document */
@media (min-width: 768px) {
  .back-to-top.show {
    display: block;
  }
}

img {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  transition: transform 1s ease;
}
.imgBlock{
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
}

img:hover {
  transform: scale(1.5);
}
.article-block {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-image: radial-gradient(circle at -20.71% 50%, #c7dfcd 0, #c4e0d0 3.33%, #c1e0d4 6.67%, #bee1d7 10%, #bce1da 13.33%, #bbe1de 16.67%, #bae1e1 20%, #bae0e4 23.33%, #bae0e7 26.67%, #bbdfea 30%, #bddfec 33.33%, #bfdeee 36.67%, #c2ddf0 40%, #c5dcf1 43.33%, #c9dbf2 46.67%, #cddaf2 50%, #d1d9f2 53.33%, #d5d8f1 56.67%, #dad7f0 60%, #ded6ee 63.33%, #e2d5ec 66.67%, #e6d4ea 70%, #e9d3e7 73.33%, #ecd2e4 76.67%, #efd1e1 80%, #f1d1dd 83.33%, #f3d1da 86.67%, #f4d1d6 90%, #f4d1d3 93.33%, #f4d1d0 96.67%, #f4d2cd 100%);
}

.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.article img {
  max-width: 300px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
}

.article h3 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.article p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

.article ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.article ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.article ul li img {
  margin-right: 20px;
}

.article ul li h3 {

  font-size: 24px;
  margin-bottom: 10px;
}

.article ul li p {
  font-size: 16px;
  line-height: 1.5;
}
.article li{
  font-size: 18px;
  font-weight: 1000;

}
.video-section {
  margin-top: 50px;
}

.video-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.video-container iframe {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 10px;
}
.video-container iframe {
  width: 100%;
  height: 250px;
  border: none;
  transition: transform 1s ease;
}

.video-container iframe:hover {
  transform: scale(1.1);
}
.testimonials {
  margin-top: 50px;
  text-align: center;
}

.testimonials h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.testimonial {
  display: inline-block;
  margin: 20px;
  width: 400px;
  text-align: left;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.testimonial h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial i {
  font-size: 24px;
  margin-right: 10px;
}

.testimonial a {
  color: #000;
  text-decoration: none;
}

.testimonial a:hover {
  color: #0080ff;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

canvas {
  display: block;
}
