/* Настройки кроссбраузерности */

/* Нормализация стилей */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Запрет на изменение размера некоторых элементов при наведении */
a,
button,
input[type="button"],
input[type="submit"] {
  resize: none;
}

/* Настройка адаптивности */

/* Общие стили */
body {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin: 0;
  font-family: 'Josefin Slab', serif;
  animation: animateBackground 30s linear infinite;
    background-image: url("https://img.freepik.com/premium-vector/seamless-watercolor-pattern-with-transparent-blue-flowers-on-a-white-background-magnolia-flowers_252097-617.jpg?w=826");
    background-repeat: repeat;
}

@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}


p {
  text-align: center;
  font-weight: 1000;

}
h1 {
  letter-spacing: 6px;
  font-family: 'Josefin Slab', serif;
  text-align: center;
}
li:hover, p:hover, h2:hover, h3:hover, h1:hover{
  text-decoration: underline;
}

h2,h3 {
  text-align: center;
}

.container {
  max-width: 1200px; /* задаем максимальную ширину для контейнера */
  margin: 0 auto; /* задаем отступы по вертикали 0, по горизонтали - автоматически вычисляемые */
  border-radius: 10px;
}

/* Ширина контейнера на больших экранах */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

/* Ширина контейнера на средних экранах */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

/* Ширина контейнера на маленьких экранах */
@media screen and (max-width: 991px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* Стили для шапки */
header {
  background-image: radial-gradient(
          circle at 2.77% 72.03%,
          rgba(218, 229, 210, 0.9) 0,
          rgba(215, 229, 212, 0.9) 3.57%,
          rgba(213, 230, 214, 0.9) 7.14%,
          rgba(210, 230, 216, 0.9) 10.71%,
          rgba(208, 231, 219, 0.9) 14.29%,
          rgba(205, 231, 221, 0.9) 17.86%,
          rgba(204, 231, 224, 0.9) 21.43%,
          rgba(202, 231, 227, 0.9) 25%,
          rgba(201, 231, 229, 0.9) 28.57%,
          rgba(201, 231, 232, 0.9) 32.14%,
          rgba(201, 231, 234, 0.9) 35.71%,
          rgba(201, 231, 237, 0.9) 39.29%,
          rgba(202, 230, 239, 0.9) 42.86%,
          rgba(203, 230, 240, 0.9) 46.43%,
          rgba(205, 229, 242, 0.9) 50%,
          rgba(207, 228, 243, 0.9) 53.57%,
          rgba(210, 228, 244, 0.9) 57.14%,
          rgba(212, 227, 245, 0.9) 60.71%,
          rgba(215, 226, 245, 0.9) 64.29%,
          rgba(218, 225, 245, 0.9) 67.86%,
          rgba(222, 224, 244, 0.9) 71.43%,
          rgba(225, 223, 243, 0.9) 75%,
          rgba(228, 222, 242, 0.9) 78.57%,
          rgba(231, 222, 241, 0.9) 82.14%,
          rgba(234, 221, 239, 0.9) 85.71%,
          rgba(237, 220, 236, 0.9) 89.29%,
          rgba(239, 220, 234, 0.9) 92.86%,
          rgba(242, 219, 230, 0.9) 96.43%,
          rgba(243, 219, 229, 0.9) 100%
  );

  color: black;
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
}

a:hover {
  color: #4CAF50;
  text-decoration: underline;
  transition-duration: 0.3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.social-icon:hover {
  transform: scale(1.2);
  color: #4CAF50;
  transition-duration: 0.3s;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: #555;
  text-align: center;
  padding: 20px;
  z-index: 999;
}

/* Show the button when the user scrolls down 20px from the top of the document */
@media (min-width: 768px) {
  .back-to-top.show {
    display: block;
  }
}

img {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  transition: transform 1s ease;
}
.imgBlock{
  max-width: 300px;
  overflow: hidden;
  margin: 0 auto;
}

img:hover {
  transform: scale(1.5);
}
.article-block {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-image: radial-gradient(
          circle at -20.71% 50%,
          rgba(199, 223, 205, 0.9) 0,
          rgba(196, 224, 208, 0.9) 3.33%,
          rgba(193, 224, 212, 0.9) 6.67%,
          rgba(190, 225, 215, 0.9) 10%,
          rgba(188, 225, 218, 0.9) 13.33%,
          rgba(187, 225, 222, 0.9) 16.67%,
          rgba(186, 225, 225, 0.9) 20%,
          rgba(186, 224, 228, 0.9) 23.33%,
          rgba(186, 224, 231, 0.9) 26.67%,
          rgba(187, 223, 234, 0.9) 30%,
          rgba(189, 223, 236, 0.9) 33.33%,
          rgba(191, 222, 238, 0.9) 36.67%,
          rgba(194, 221, 240, 0.9) 40%,
          rgba(197, 220, 241, 0.9) 43.33%,
          rgba(201, 219, 242, 0.9) 46.67%,
          rgba(205, 218, 242, 0.9) 50%,
          rgba(209, 217, 242, 0.9) 53.33%,
          rgba(213, 216, 241, 0.9) 56.67%,
          rgba(218, 215, 240, 0.9) 60%,
          rgba(222, 214, 238, 0.9) 63.33%,
          rgba(226, 213, 236, 0.9) 66.67%,
          rgba(230, 212, 234, 0.9) 70%,
          rgba(233, 211, 231, 0.9) 73.33%,
          rgba(236, 210, 228, 0.9) 76.67%,
          rgba(239, 209, 225, 0.9) 80%,
          rgba(241, 209, 221, 0.9) 83.33%,
          rgba(243, 209, 218, 0.9) 86.67%,
          rgba(244, 209, 214, 0.9) 90%,
          rgba(244, 209, 211, 0.9) 93.33%,
          rgba(244, 209, 208, 0.9) 96.67%,
          rgba(244, 210, 205, 0.9) 100%
  )
}

.article {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.article img {
  max-width: 300px;
  display: block;
  margin: 15px auto;
  border-radius: 10px;
}

.article h3 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

.article p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
}

.article ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.article ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.article ul li img {
  margin-right: 20px;
}

.article ul li h3 {

  font-size: 24px;
  margin-bottom: 10px;
}

.article ul li p {
  font-size: 16px;
  line-height: 1.5;
}
.article li{
  font-size: 18px;
  font-weight: 1000;

}
.video-section {
  margin-top: 50px;
}

.video-section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;

}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.video-container iframe {
  width: 100%;
  height: 250px;
  border: none;
  border-radius: 10px;
}
.video-container iframe {
  width: 100%;
  height: 250px;
  border: none;
  transition: transform 1s ease;
}

.video-container iframe:hover {
  transform: scale(1.1);
}
.testimonials {
  margin-top: 50px;
  text-align: center;
}

.testimonials h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.testimonial {
  display: inline-block;
  margin: 20px;
  width: 400px;
  text-align: left;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  float: left;
  margin: 10px 20px 10px 10px;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  background-color: rgba(186, 225, 225, 0.9);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.testimonial h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial i {
  font-size: 24px;
  margin-right: 10px;
}

.testimonial a {
  color: #000;
  text-decoration: none;
}

.testimonial a:hover {
  color: #0080ff;
}

.comment{
    background-color: rgba(186, 225, 225, 0.9);
    width: 25%;
    margin: 0 auto;
    border-radius: 7px;
}
.h2Footer{
    background-color: rgba(186, 225, 225, 0.9);
    width: 30%;
    margin: 0 auto;
    border-radius: 7px;
}
